@import url("https://fonts.googleapis.com/css2?family=Cairo:wght@200;400;900");

body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    background-color: #161616;
    color: #fff;
    font-family: "Cairo", sans-serif;
}

main {
    flex: 2;
    justify-content: center;
    align-items: center;
    display: flex;
    flex-direction: column;
}

section {
    max-width: 800px;
    margin: 50px auto;
}

.results p{
    margin: 5px;
}